<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>abandon</string>
	<string>abolish</string>
	<string>absorb</string>
	<string>accept</string>
	<string>accuse</string>
	<string>achieve</string>
	<string>activate</string>
	<string>adapt</string>
	<string>address</string>
	<string>adjust</string>
	<string>admit</string>
	<string>adopt</string>
	<string>adore</string>
	<string>advance</string>
	<string>advise</string>
	<string>affirm</string>
	<string>afflict</string>
	<string>afford</string>
	<string>agitate</string>
	<string>aim</string>
	<string>alert</string>
	<string>alienate</string>
	<string>align</string>
	<string>allow</string>
	<string>amaze</string>
	<string>ambush</string>
	<string>amplify</string>
	<string>amuse</string>
	<string>anchor</string>
	<string>anger</string>
	<string>announce</string>
	<string>answer</string>
	<string>apply</string>
	<string>appoint</string>
	<string>approach</string>
	<string>arrange</string>
	<string>ask</string>
	<string>assemble</string>
	<string>assist</string>
	<string>assume</string>
	<string>astonish</string>
	<string>attach</string>
	<string>attend</string>
	<string>attract</string>
	<string>auction</string>
	<string>avenge</string>
	<string>avoid</string>
	<string>baby</string>
	<string>back</string>
	<string>baffle</string>
	<string>bait</string>
	<string>bake</string>
	<string>balance</string>
	<string>banish</string>
	<string>bash</string>
	<string>bathe</string>
	<string>battle</string>
	<string>become</string>
	<string>beg</string>
	<string>begin</string>
	<string>behold</string>
	<string>believe</string>
	<string>bend</string>
	<string>benefit</string>
	<string>bet</string>
	<string>bill</string>
	<string>bind</string>
	<string>bite</string>
	<string>blacken</string>
	<string>blame</string>
	<string>blanket</string>
	<string>bleach</string>
	<string>blend</string>
	<string>bless</string>
	<string>block</string>
	<string>boil</string>
	<string>bolt</string>
	<string>book</string>
	<string>boost</string>
	<string>borrow</string>
	<string>bother</string>
	<string>bottle</string>
	<string>bounce</string>
	<string>box</string>
	<string>brace</string>
	<string>brandish</string>
	<string>break</string>
	<string>brief</string>
	<string>bring</string>
	<string>broaden</string>
	<string>broil</string>
	<string>browse</string>
	<string>brush</string>
	<string>buckle</string>
	<string>bug</string>
	<string>build</string>
	<string>bump</string>
	<string>bundle</string>
	<string>burden</string>
	<string>burn</string>
	<string>bus</string>
	<string>buy</string>
	<string>call</string>
	<string>calm</string>
	<string>cancel</string>
	<string>capture</string>
	<string>caress</string>
	<string>carry</string>
	<string>cart</string>
	<string>carve</string>
	<string>cast</string>
	<string>catch</string>
	<string>cause</string>
	<string>caution</string>
	<string>certify</string>
	<string>champion</string>
	<string>change</string>
	<string>charge</string>
	<string>chase</string>
	<string>check</string>
	<string>cheer</string>
	<string>cherish</string>
	<string>chew</string>
	<string>chill</string>
	<string>chip</string>
	<string>choose</string>
	<string>chop</string>
	<string>churn</string>
	<string>circle</string>
	<string>claim</string>
	<string>clamp</string>
	<string>clarify</string>
	<string>classify</string>
	<string>claw</string>
	<string>clean</string>
	<string>clench</string>
	<string>click</string>
	<string>climb</string>
	<string>clip</string>
	<string>clog</string>
	<string>close</string>
	<string>cluster</string>
	<string>clutch</string>
	<string>coach</string>
	<string>coat</string>
	<string>collect</string>
	<string>combine</string>
	<string>comfort</string>
	<string>command</string>
	<string>compare</string>
	<string>concern</string>
	<string>conduct</string>
	<string>confirm</string>
	<string>connect</string>
	<string>consider</string>
	<string>contain</string>
	<string>convince</string>
	<string>cook</string>
	<string>copy</string>
	<string>corner</string>
	<string>correct</string>
	<string>cost</string>
	<string>count</string>
	<string>cover</string>
	<string>crack</string>
	<string>cradle</string>
	<string>craft</string>
	<string>cram</string>
	<string>crank</string>
	<string>crash</string>
	<string>crave</string>
	<string>create</string>
	<string>cross</string>
	<string>crumble</string>
	<string>crunch</string>
	<string>crush</string>
	<string>cure</string>
	<string>cushion</string>
	<string>cut</string>
	<string>cycle</string>
	<string>damage</string>
	<string>dampen</string>
	<string>dangle</string>
	<string>dare</string>
	<string>darken</string>
	<string>dash</string>
	<string>dazzle</string>
	<string>debate</string>
	<string>deceive</string>
	<string>decline</string>
	<string>decorate</string>
	<string>decrease</string>
	<string>dedicate</string>
	<string>deduct</string>
	<string>deepen</string>
	<string>defend</string>
	<string>define</string>
	<string>deflect</string>
	<string>defuse</string>
	<string>defy</string>
	<string>delay</string>
	<string>delete</string>
	<string>deliver</string>
	<string>demand</string>
	<string>demolish</string>
	<string>denote</string>
	<string>dent</string>
	<string>deny</string>
	<string>depict</string>
	<string>deplete</string>
	<string>deposit</string>
	<string>deprive</string>
	<string>derail</string>
	<string>deride</string>
	<string>describe</string>
	<string>deserve</string>
	<string>design</string>
	<string>despise</string>
	<string>destroy</string>
	<string>detach</string>
	<string>detect</string>
	<string>detonate</string>
	<string>devalue</string>
	<string>develop</string>
	<string>devise</string>
	<string>devour</string>
	<string>diagnose</string>
	<string>dial</string>
	<string>digest</string>
	<string>dilute</string>
	<string>dim</string>
	<string>diminish</string>
	<string>dip</string>
	<string>direct</string>
	<string>disarm</string>
	<string>disband</string>
	<string>discover</string>
	<string>dislike</string>
	<string>dismiss</string>
	<string>disobey</string>
	<string>display</string>
	<string>disrupt</string>
	<string>dissolve</string>
	<string>distract</string>
	<string>divert</string>
	<string>divide</string>
	<string>document</string>
	<string>dominate</string>
	<string>donate</string>
	<string>doom</string>
	<string>doubt</string>
	<string>douse</string>
	<string>drag</string>
	<string>drain</string>
	<string>drape</string>
	<string>draw</string>
	<string>dread</string>
	<string>drench</string>
	<string>dress</string>
	<string>drill</string>
	<string>drink</string>
	<string>drive</string>
	<string>drop</string>
	<string>drown</string>
	<string>dry</string>
	<string>dump</string>
	<string>dunk</string>
	<string>dust</string>
	<string>earn</string>
	<string>eat</string>
	<string>echo</string>
	<string>eclipse</string>
	<string>edit</string>
	<string>educate</string>
	<string>eject</string>
	<string>elevate</string>
	<string>elicit</string>
	<string>embody</string>
	<string>embrace</string>
	<string>employ</string>
	<string>empower</string>
	<string>empty</string>
	<string>emulate</string>
	<string>enable</string>
	<string>encase</string>
	<string>enclose</string>
	<string>encode</string>
	<string>endanger</string>
	<string>endorse</string>
	<string>endure</string>
	<string>engage</string>
	<string>engineer</string>
	<string>engrave</string>
	<string>engulf</string>
	<string>enhance</string>
	<string>enjoy</string>
	<string>enlarge</string>
	<string>enrage</string>
	<string>enrich</string>
	<string>enroll</string>
	<string>enter</string>
	<string>entice</string>
	<string>entrust</string>
	<string>envelop</string>
	<string>envision</string>
	<string>equate</string>
	<string>equip</string>
	<string>erase</string>
	<string>erode</string>
	<string>escape</string>
	<string>estimate</string>
	<string>evacuate</string>
	<string>evaluate</string>
	<string>evict</string>
	<string>examine</string>
	<string>excavate</string>
	<string>exceed</string>
	<string>exchange</string>
	<string>excite</string>
	<string>exclude</string>
	<string>excuse</string>
	<string>expand</string>
	<string>expect</string>
	<string>explain</string>
	<string>expose</string>
	<string>express</string>
	<string>extend</string>
	<string>extract</string>
	<string>eye</string>
	<string>face</string>
	<string>fail</string>
	<string>farm</string>
	<string>fashion</string>
	<string>fasten</string>
	<string>favor</string>
	<string>feature</string>
	<string>feed</string>
	<string>feel</string>
	<string>fetch</string>
	<string>fight</string>
	<string>fill</string>
	<string>film</string>
	<string>filter</string>
	<string>finance</string>
	<string>find</string>
	<string>finish</string>
	<string>fire</string>
	<string>fit</string>
	<string>fix</string>
	<string>flag</string>
	<string>flank</string>
	<string>flap</string>
	<string>flatten</string>
	<string>flaunt</string>
	<string>flee</string>
	<string>flex</string>
	<string>flick</string>
	<string>fling</string>
	<string>flip</string>
	<string>float</string>
	<string>fly</string>
	<string>focus</string>
	<string>fold</string>
	<string>follow</string>
	<string>fool</string>
	<string>forbid</string>
	<string>forget</string>
	<string>form</string>
	<string>fortify</string>
	<string>fracture</string>
	<string>frame</string>
	<string>free</string>
	<string>frighten</string>
	<string>fry</string>
	<string>fuel</string>
	<string>fumble</string>
	<string>fund</string>
	<string>furnish</string>
	<string>gain</string>
	<string>garnish</string>
	<string>gather</string>
	<string>generate</string>
	<string>get</string>
	<string>give</string>
	<string>glide</string>
	<string>glimpse</string>
	<string>glorify</string>
	<string>glue</string>
	<string>gobble</string>
	<string>grab</string>
	<string>grace</string>
	<string>grade</string>
	<string>grant</string>
	<string>graze</string>
	<string>greet</string>
	<string>grill</string>
	<string>grind</string>
	<string>grip</string>
	<string>groom</string>
	<string>group</string>
	<string>grow</string>
	<string>guess</string>
	<string>guide</string>
	<string>gulp</string>
	<string>halt</string>
	<string>hammer</string>
	<string>hamper</string>
	<string>handle</string>
	<string>hang</string>
	<string>harm</string>
	<string>harness</string>
	<string>harvest</string>
	<string>hatch</string>
	<string>have</string>
	<string>heap</string>
	<string>hear</string>
	<string>heat</string>
	<string>help</string>
	<string>hide</string>
	<string>hinder</string>
	<string>hire</string>
	<string>hit</string>
	<string>hobble</string>
	<string>hold</string>
	<string>hone</string>
	<string>hop</string>
	<string>horrify</string>
	<string>host</string>
	<string>house</string>
	<string>hug</string>
	<string>hunt</string>
	<string>hurl</string>
	<string>hurry</string>
	<string>hurt</string>
	<string>hush</string>
	<string>identify</string>
	<string>ignite</string>
	<string>ignore</string>
	<string>imagine</string>
	<string>imitate</string>
	<string>impair</string>
	<string>impede</string>
	<string>implant</string>
	<string>import</string>
	<string>improve</string>
	<string>incite</string>
	<string>include</string>
	<string>increase</string>
	<string>indicate</string>
	<string>induce</string>
	<string>inform</string>
	<string>infringe</string>
	<string>infuse</string>
	<string>inhabit</string>
	<string>inherit</string>
	<string>inhibit</string>
	<string>initiate</string>
	<string>inject</string>
	<string>injure</string>
	<string>inspire</string>
	<string>install</string>
	<string>insult</string>
	<string>interest</string>
	<string>invent</string>
	<string>invite</string>
	<string>involve</string>
	<string>irritate</string>
	<string>isolate</string>
	<string>itch</string>
	<string>jab</string>
	<string>jiggle</string>
	<string>join</string>
	<string>jolt</string>
	<string>juggle</string>
	<string>jump</string>
	<string>justify</string>
	<string>keep</string>
	<string>kick</string>
	<string>kiss</string>
	<string>know</string>
	<string>label</string>
	<string>lace</string>
	<string>lack</string>
	<string>latch</string>
	<string>launch</string>
	<string>lead</string>
	<string>leak</string>
	<string>leap</string>
	<string>learn</string>
	<string>lease</string>
	<string>leave</string>
	<string>lecture</string>
	<string>lend</string>
	<string>lengthen</string>
	<string>liberate</string>
	<string>lick</string>
	<string>lift</string>
	<string>light</string>
	<string>like</string>
	<string>limit</string>
	<string>link</string>
	<string>list</string>
	<string>load</string>
	<string>locate</string>
	<string>lock</string>
	<string>log</string>
	<string>loosen</string>
	<string>lose</string>
	<string>love</string>
	<string>lower</string>
	<string>lug</string>
	<string>lure</string>
	<string>magnify</string>
	<string>maintain</string>
	<string>make</string>
	<string>manage</string>
	<string>mandate</string>
	<string>map</string>
	<string>marinate</string>
	<string>mark</string>
	<string>marry</string>
	<string>mash</string>
	<string>mask</string>
	<string>master</string>
	<string>match</string>
	<string>mean</string>
	<string>measure</string>
	<string>meet</string>
	<string>melt</string>
	<string>mend</string>
	<string>mention</string>
	<string>merge</string>
	<string>merit</string>
	<string>mimic</string>
	<string>mire</string>
	<string>mirror</string>
	<string>mislead</string>
	<string>misplace</string>
	<string>misread</string>
	<string>miss</string>
	<string>mistreat</string>
	<string>misuse</string>
	<string>mix</string>
	<string>mock</string>
	<string>moderate</string>
	<string>modify</string>
	<string>moisten</string>
	<string>monitor</string>
	<string>mop</string>
	<string>motivate</string>
	<string>move</string>
	<string>muffle</string>
	<string>mull</string>
	<string>name</string>
	<string>navigate</string>
	<string>need</string>
	<string>negate</string>
	<string>neglect</string>
	<string>nibble</string>
	<string>nip</string>
	<string>note</string>
	<string>notice</string>
	<string>nudge</string>
	<string>number</string>
	<string>nurture</string>
	<string>obey</string>
	<string>obligate</string>
	<string>obscure</string>
	<string>observe</string>
	<string>obstruct</string>
	<string>obtain</string>
	<string>occupy</string>
	<string>offer</string>
	<string>omit</string>
	<string>open</string>
	<string>operate</string>
	<string>oppose</string>
	<string>orbit</string>
	<string>order</string>
	<string>orient</string>
	<string>owe</string>
	<string>own</string>
	<string>pace</string>
	<string>pack</string>
	<string>pad</string>
	<string>paint</string>
	<string>parade</string>
	<string>park</string>
	<string>pass</string>
	<string>pat</string>
	<string>patch</string>
	<string>patrol</string>
	<string>pave</string>
	<string>pay</string>
	<string>peck</string>
	<string>peddle</string>
	<string>peg</string>
	<string>pelt</string>
	<string>perfect</string>
	<string>permit</string>
	<string>perplex</string>
	<string>pet</string>
	<string>phone</string>
	<string>pick</string>
	<string>picture</string>
	<string>pile</string>
	<string>pilot</string>
	<string>pin</string>
	<string>pinch</string>
	<string>pity</string>
	<string>place</string>
	<string>plant</string>
	<string>play</string>
	<string>please</string>
	<string>pluck</string>
	<string>plug</string>
	<string>plunge</string>
	<string>pocket</string>
	<string>poke</string>
	<string>polish</string>
	<string>ponder</string>
	<string>populate</string>
	<string>portray</string>
	<string>position</string>
	<string>post</string>
	<string>power</string>
	<string>praise</string>
	<string>predict</string>
	<string>prefer</string>
	<string>prepare</string>
	<string>present</string>
	<string>prevent</string>
	<string>price</string>
	<string>print</string>
	<string>prize</string>
	<string>probe</string>
	<string>process</string>
	<string>produce</string>
	<string>promote</string>
	<string>propel</string>
	<string>protect</string>
	<string>provide</string>
	<string>prune</string>
	<string>pry</string>
	<string>publish</string>
	<string>pull</string>
	<string>pump</string>
	<string>punch</string>
	<string>punish</string>
	<string>purchase</string>
	<string>purify</string>
	<string>push</string>
	<string>put</string>
	<string>puzzle</string>
	<string>qualify</string>
	<string>question</string>
	<string>quicken</string>
	<string>quiet</string>
	<string>quote</string>
	<string>race</string>
	<string>radio</string>
	<string>raise</string>
	<string>rake</string>
	<string>rally</string>
	<string>ram</string>
	<string>rank</string>
	<string>rate</string>
	<string>rattle</string>
	<string>reach</string>
	<string>read</string>
	<string>reaffirm</string>
	<string>reap</string>
	<string>reassure</string>
	<string>rebuild</string>
	<string>recall</string>
	<string>receive</string>
	<string>recharge</string>
	<string>recite</string>
	<string>reclaim</string>
	<string>record</string>
	<string>recruit</string>
	<string>redden</string>
	<string>redefine</string>
	<string>redirect</string>
	<string>reduce</string>
	<string>refer</string>
	<string>refine</string>
	<string>reflect</string>
	<string>reform</string>
	<string>refresh</string>
	<string>refuse</string>
	<string>regain</string>
	<string>regret</string>
	<string>rehearse</string>
	<string>reinvent</string>
	<string>reject</string>
	<string>rejoin</string>
	<string>rekindle</string>
	<string>relate</string>
	<string>release</string>
	<string>relieve</string>
	<string>relocate</string>
	<string>remake</string>
	<string>remember</string>
	<string>remind</string>
	<string>remove</string>
	<string>rename</string>
	<string>renew</string>
	<string>renovate</string>
	<string>rent</string>
	<string>reopen</string>
	<string>repair</string>
	<string>repeat</string>
	<string>replace</string>
	<string>reprint</string>
	<string>require</string>
	<string>reread</string>
	<string>rescue</string>
	<string>resemble</string>
	<string>reshape</string>
	<string>resist</string>
	<string>respect</string>
	<string>restore</string>
	<string>resume</string>
	<string>retain</string>
	<string>rethink</string>
	<string>retire</string>
	<string>retrieve</string>
	<string>return</string>
	<string>reunite</string>
	<string>reuse</string>
	<string>revamp</string>
	<string>reveal</string>
	<string>review</string>
	<string>revolve</string>
	<string>reward</string>
	<string>rework</string>
	<string>rewrite</string>
	<string>rid</string>
	<string>ride</string>
	<string>ridicule</string>
	<string>rinse</string>
	<string>rip</string>
	<string>ripen</string>
	<string>risk</string>
	<string>rival</string>
	<string>rivet</string>
	<string>roast</string>
	<string>roll</string>
	<string>rotate</string>
	<string>rout</string>
	<string>rub</string>
	<string>ruin</string>
	<string>run</string>
	<string>rupture</string>
	<string>rush</string>
	<string>sabotage</string>
	<string>saddle</string>
	<string>salute</string>
	<string>salvage</string>
	<string>sample</string>
	<string>saturate</string>
	<string>save</string>
	<string>savor</string>
	<string>scan</string>
	<string>scare</string>
	<string>scatter</string>
	<string>scold</string>
	<string>scoop</string>
	<string>scorch</string>
	<string>scout</string>
	<string>scramble</string>
	<string>scrub</string>
	<string>sculpt</string>
	<string>search</string>
	<string>seat</string>
	<string>secure</string>
	<string>see</string>
	<string>seek</string>
	<string>select</string>
	<string>sell</string>
	<string>send</string>
	<string>separate</string>
	<string>serve</string>
	<string>set</string>
	<string>settle</string>
	<string>shade</string>
	<string>shake</string>
	<string>shame</string>
	<string>shape</string>
	<string>share</string>
	<string>shatter</string>
	<string>shave</string>
	<string>shelter</string>
	<string>shield</string>
	<string>shift</string>
	<string>shine</string>
	<string>ship</string>
	<string>shock</string>
	<string>shoot</string>
	<string>shorten</string>
	<string>shove</string>
	<string>show</string>
	<string>shred</string>
	<string>shrink</string>
	<string>shroud</string>
	<string>shuffle</string>
	<string>shun</string>
	<string>shut</string>
	<string>sign</string>
	<string>silence</string>
	<string>simplify</string>
	<string>simulate</string>
	<string>sink</string>
	<string>sip</string>
	<string>siphon</string>
	<string>sit</string>
	<string>situate</string>
	<string>skew</string>
	<string>skim</string>
	<string>skip</string>
	<string>skirt</string>
	<string>slam</string>
	<string>slant</string>
	<string>slap</string>
	<string>slice</string>
	<string>slide</string>
	<string>sling</string>
	<string>smack</string>
	<string>smash</string>
	<string>smear</string>
	<string>smell</string>
	<string>smother</string>
	<string>smuggle</string>
	<string>snag</string>
	<string>snap</string>
	<string>snare</string>
	<string>snatch</string>
	<string>sneak</string>
	<string>sniff</string>
	<string>snip</string>
	<string>soak</string>
	<string>soften</string>
	<string>solicit</string>
	<string>solve</string>
	<string>soothe</string>
	<string>sort</string>
	<string>spare</string>
	<string>spawn</string>
	<string>specify</string>
	<string>spend</string>
	<string>spew</string>
	<string>spill</string>
	<string>spin</string>
	<string>splash</string>
	<string>split</string>
	<string>spoil</string>
	<string>sponsor</string>
	<string>spook</string>
	<string>spray</string>
	<string>spread</string>
	<string>sprinkle</string>
	<string>sprout</string>
	<string>squander</string>
	<string>squeeze</string>
	<string>squirt</string>
	<string>stack</string>
	<string>stall</string>
	<string>stamp</string>
	<string>stand</string>
	<string>start</string>
	<string>stash</string>
	<string>steam</string>
	<string>steer</string>
	<string>stifle</string>
	<string>sting</string>
	<string>stir</string>
	<string>stoke</string>
	<string>stop</string>
	<string>store</string>
	<string>stow</string>
	<string>strain</string>
	<string>stretch</string>
	<string>strike</string>
	<string>study</string>
	<string>stump</string>
	<string>stun</string>
	<string>subdue</string>
	<string>submit</string>
	<string>subtract</string>
	<string>subvert</string>
	<string>suffer</string>
	<string>suggest</string>
	<string>suit</string>
	<string>support</string>
	<string>surprise</string>
	<string>surround</string>
	<string>survive</string>
	<string>suspect</string>
	<string>sustain</string>
	<string>swallow</string>
	<string>swamp</string>
	<string>swap</string>
	<string>swarm</string>
	<string>swat</string>
	<string>sweep</string>
	<string>swing</string>
	<string>swirl</string>
	<string>switch</string>
	<string>swivel</string>
	<string>tackle</string>
	<string>tag</string>
	<string>take</string>
	<string>tame</string>
	<string>tangle</string>
	<string>tap</string>
	<string>tape</string>
	<string>target</string>
	<string>tarnish</string>
	<string>taste</string>
	<string>taunt</string>
	<string>teach</string>
	<string>tease</string>
	<string>tell</string>
	<string>tempt</string>
	<string>tend</string>
	<string>test</string>
	<string>thank</string>
	<string>thaw</string>
	<string>thicken</string>
	<string>thrash</string>
	<string>thrill</string>
	<string>throw</string>
	<string>thump</string>
	<string>thwart</string>
	<string>tickle</string>
	<string>tie</string>
	<string>tighten</string>
	<string>tilt</string>
	<string>time</string>
	<string>toast</string>
	<string>tolerate</string>
	<string>topple</string>
	<string>toss</string>
	<string>touch</string>
	<string>toughen</string>
	<string>tour</string>
	<string>tow</string>
	<string>track</string>
	<string>trade</string>
	<string>train</string>
	<string>trample</string>
	<string>transfer</string>
	<string>trap</string>
	<string>treat</string>
	<string>trick</string>
	<string>trigger</string>
	<string>trim</string>
	<string>trip</string>
	<string>trouble</string>
	<string>trump</string>
	<string>trust</string>
	<string>try</string>
	<string>tumble</string>
	<string>tune</string>
	<string>turn</string>
	<string>tutor</string>
	<string>twirl</string>
	<string>twist</string>
	<string>uncover</string>
	<string>undo</string>
	<string>unearth</string>
	<string>unfold</string>
	<string>unify</string>
	<string>unleash</string>
	<string>unlock</string>
	<string>unpack</string>
	<string>unravel</string>
	<string>unsettle</string>
	<string>untie</string>
	<string>unwind</string>
	<string>unzip</string>
	<string>update</string>
	<string>upset</string>
	<string>urge</string>
	<string>use</string>
	<string>usher</string>
	<string>vacate</string>
	<string>validate</string>
	<string>value</string>
	<string>verify</string>
	<string>view</string>
	<string>visit</string>
	<string>waft</string>
	<string>wake</string>
	<string>walk</string>
	<string>want</string>
	<string>warm</string>
	<string>warn</string>
	<string>warp</string>
	<string>wash</string>
	<string>waste</string>
	<string>watch</string>
	<string>wax</string>
	<string>weaken</string>
	<string>wear</string>
	<string>weave</string>
	<string>welcome</string>
	<string>weld</string>
	<string>whirl</string>
	<string>widen</string>
	<string>wiggle</string>
	<string>win</string>
	<string>wind</string>
	<string>wipe</string>
	<string>wobble</string>
	<string>work</string>
	<string>worry</string>
	<string>wreck</string>
	<string>wrestle</string>
	<string>wrinkle</string>
	<string>yank</string>
	<string>yield</string>
	<string>zap</string>
</array>
</plist>
