<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>abjectly</string>
	<string>abnormally</string>
	<string>abominably</string>
	<string>abruptly</string>
	<string>absently</string>
	<string>absolutely</string>
	<string>abstractly</string>
	<string>absurdly</string>
	<string>abundantly</string>
	<string>abusively</string>
	<string>abysmally</string>
	<string>acceptably</string>
	<string>accurately</string>
	<string>achingly</string>
	<string>acidly</string>
	<string>actively</string>
	<string>actually</string>
	<string>acutely</string>
	<string>adamantly</string>
	<string>adeptly</string>
	<string>adequately</string>
	<string>admittedly</string>
	<string>adoringly</string>
	<string>adversely</string>
	<string>advisedly</string>
	<string>affordably</string>
	<string>again</string>
	<string>agreeably</string>
	<string>aimlessly</string>
	<string>airily</string>
	<string>alarmingly</string>
	<string>alertly</string>
	<string>allegedly</string>
	<string>allowably</string>
	<string>alluringly</string>
	<string>almost</string>
	<string>already</string>
	<string>also</string>
	<string>always</string>
	<string>amazingly</string>
	<string>amply</string>
	<string>amusingly</string>
	<string>angrily</string>
	<string>animatedly</string>
	<string>annoyingly</string>
	<string>annually</string>
	<string>anxiously</string>
	<string>apparently</string>
	<string>aptly</string>
	<string>archly</string>
	<string>arduously</string>
	<string>arguably</string>
	<string>arrogantly</string>
	<string>artfully</string>
	<string>artlessly</string>
	<string>ashamedly</string>
	<string>assuredly</string>
	<string>astutely</string>
	<string>atomically</string>
	<string>atypically</string>
	<string>audibly</string>
	<string>awesomely</string>
	<string>awfully</string>
	<string>awkwardly</string>
	<string>badly</string>
	<string>barely</string>
	<string>bashfully</string>
	<string>basically</string>
	<string>becomingly</string>
	<string>believably</string>
	<string>benignly</string>
	<string>biannually</string>
	<string>bitingly</string>
	<string>bitterly</string>
	<string>bizarrely</string>
	<string>blackly</string>
	<string>blankly</string>
	<string>blatantly</string>
	<string>blazingly</string>
	<string>bleakly</string>
	<string>blessedly</string>
	<string>blindly</string>
	<string>blissfully</string>
	<string>bluntly</string>
	<string>boastfully</string>
	<string>bodily</string>
	<string>boldly</string>
	<string>boorishly</string>
	<string>boringly</string>
	<string>boyishly</string>
	<string>bracingly</string>
	<string>brashly</string>
	<string>bravely</string>
	<string>brazenly</string>
	<string>breezily</string>
	<string>briefly</string>
	<string>brightly</string>
	<string>briskly</string>
	<string>broadly</string>
	<string>brokenly</string>
	<string>brotherly</string>
	<string>brusquely</string>
	<string>brutally</string>
	<string>busily</string>
	<string>callously</string>
	<string>calmly</string>
	<string>candidly</string>
	<string>cannily</string>
	<string>capably</string>
	<string>carefully</string>
	<string>casually</string>
	<string>cautiously</string>
	<string>cavalierly</string>
	<string>centrally</string>
	<string>certainly</string>
	<string>charmingly</string>
	<string>cheaply</string>
	<string>cheerfully</string>
	<string>chemically</string>
	<string>chiefly</string>
	<string>chillingly</string>
	<string>circularly</string>
	<string>civilly</string>
	<string>clearly</string>
	<string>cleverly</string>
	<string>clinically</string>
	<string>closely</string>
	<string>clumsily</string>
	<string>coarsely</string>
	<string>coherently</string>
	<string>coldly</string>
	<string>colorfully</string>
	<string>comically</string>
	<string>commonly</string>
	<string>completely</string>
	<string>concretely</string>
	<string>confusedly</string>
	<string>conjointly</string>
	<string>constantly</string>
	<string>contritely</string>
	<string>conversely</string>
	<string>coolly</string>
	<string>copiously</string>
	<string>cordially</string>
	<string>correctly</string>
	<string>cosmically</string>
	<string>covertly</string>
	<string>craftily</string>
	<string>crassly</string>
	<string>cravenly</string>
	<string>crazily</string>
	<string>creatively</string>
	<string>credibly</string>
	<string>criminally</string>
	<string>crisply</string>
	<string>critically</string>
	<string>crookedly</string>
	<string>crossly</string>
	<string>crucially</string>
	<string>crudely</string>
	<string>cruelly</string>
	<string>crushingly</string>
	<string>culturally</string>
	<string>cunningly</string>
	<string>curiously</string>
	<string>currently</string>
	<string>cursively</string>
	<string>curtly</string>
	<string>cutely</string>
	<string>cyclically</string>
	<string>cynically</string>
	<string>daily</string>
	<string>daintily</string>
	<string>damply</string>
	<string>daringly</string>
	<string>darkly</string>
	<string>dashingly</string>
	<string>dauntingly</string>
	<string>dazedly</string>
	<string>dazzlingly</string>
	<string>dearly</string>
	<string>decadently</string>
	<string>decently</string>
	<string>decidedly</string>
	<string>deeply</string>
	<string>definitely</string>
	<string>deftly</string>
	<string>dejectedly</string>
	<string>delectably</string>
	<string>delicately</string>
	<string>dementedly</string>
	<string>densely</string>
	<string>dependably</string>
	<string>deplorably</string>
	<string>deservedly</string>
	<string>designedly</string>
	<string>desolately</string>
	<string>despicably</string>
	<string>detestably</string>
	<string>devilishly</string>
	<string>devoutly</string>
	<string>dextrously</string>
	<string>diagonally</string>
	<string>diffusely</string>
	<string>digitally</string>
	<string>diligently</string>
	<string>dimly</string>
	<string>directly</string>
	<string>discreetly</string>
	<string>disloyally</string>
	<string>dismally</string>
	<string>distinctly</string>
	<string>diversely</string>
	<string>dizzily</string>
	<string>doggedly</string>
	<string>doltishly</string>
	<string>dominantly</string>
	<string>doubtless</string>
	<string>downwardly</string>
	<string>dreamily</string>
	<string>droopingly</string>
	<string>drowsily</string>
	<string>drunkenly</string>
	<string>dubiously</string>
	<string>dully</string>
	<string>duly</string>
	<string>dumbly</string>
	<string>durably</string>
	<string>dutifully</string>
	<string>eagerly</string>
	<string>earnestly</string>
	<string>easily</string>
	<string>elegantly</string>
	<string>eloquently</string>
	<string>emptily</string>
	<string>endlessly</string>
	<string>enduringly</string>
	<string>engagingly</string>
	<string>enjoyably</string>
	<string>enormously</string>
	<string>entirely</string>
	<string>enviously</string>
	<string>equally</string>
	<string>equitably</string>
	<string>especially</string>
	<string>eternally</string>
	<string>ethically</string>
	<string>ethnically</string>
	<string>evasively</string>
	<string>even</string>
	<string>evidently</string>
	<string>exactly</string>
	<string>excitedly</string>
	<string>excusably</string>
	<string>exotically</string>
	<string>expertly</string>
	<string>explicitly</string>
	<string>expressly</string>
	<string>externally</string>
	<string>extremely</string>
	<string>exultantly</string>
	<string>fabulously</string>
	<string>facially</string>
	<string>factually</string>
	<string>faintly</string>
	<string>fairly</string>
	<string>faithfully</string>
	<string>falsely</string>
	<string>familiarly</string>
	<string>famously</string>
	<string>fancifully</string>
	<string>fatally</string>
	<string>fatefully</string>
	<string>favorably</string>
	<string>fearfully</string>
	<string>feasibly</string>
	<string>fecklessly</string>
	<string>feebly</string>
	<string>feelingly</string>
	<string>fervently</string>
	<string>festively</string>
	<string>fetchingly</string>
	<string>feverishly</string>
	<string>fiendishly</string>
	<string>fiercely</string>
	<string>finally</string>
	<string>finely</string>
	<string>firmly</string>
	<string>firstly</string>
	<string>fiscally</string>
	<string>fitfully</string>
	<string>fittingly</string>
	<string>fixedly</string>
	<string>flagrantly</string>
	<string>flatly</string>
	<string>flawlessly</string>
	<string>fleetingly</string>
	<string>flexibly</string>
	<string>flimsily</string>
	<string>flippantly</string>
	<string>fluently</string>
	<string>fluidly</string>
	<string>fondly</string>
	<string>foolishly</string>
	<string>forcefully</string>
	<string>forever</string>
	<string>forgivably</string>
	<string>forlornly</string>
	<string>formerly</string>
	<string>frankly</string>
	<string>freakishly</string>
	<string>freely</string>
	<string>frenziedly</string>
	<string>frequently</string>
	<string>freshly</string>
	<string>fretfully</string>
	<string>frigidly</string>
	<string>frostily</string>
	<string>frowningly</string>
	<string>frugally</string>
	<string>fruitfully</string>
	<string>frumpishly</string>
	<string>fully</string>
	<string>furiously</string>
	<string>furtively</string>
	<string>fussily</string>
	<string>futilely</string>
	<string>fuzzily</string>
	<string>gainfully</string>
	<string>gallantly</string>
	<string>garishly</string>
	<string>gaudily</string>
	<string>generally</string>
	<string>genially</string>
	<string>gently</string>
	<string>genuinely</string>
	<string>giddily</string>
	<string>gingerly</string>
	<string>girlishly</string>
	<string>glacially</string>
	<string>gladly</string>
	<string>glancingly</string>
	<string>glaringly</string>
	<string>gleefully</string>
	<string>glibly</string>
	<string>gloatingly</string>
	<string>globally</string>
	<string>gloomily</string>
	<string>gloriously</string>
	<string>glowingly</string>
	<string>glumly</string>
	<string>gorgeously</string>
	<string>gracefully</string>
	<string>gradually</string>
	<string>grandly</string>
	<string>gratefully</string>
	<string>gravely</string>
	<string>greatly</string>
	<string>greedily</string>
	<string>grievously</string>
	<string>grimly</string>
	<string>groggily</string>
	<string>gropingly</string>
	<string>grossly</string>
	<string>grouchily</string>
	<string>grudgingly</string>
	<string>gruesomely</string>
	<string>gruffly</string>
	<string>grumpily</string>
	<string>guardedly</string>
	<string>guiltily</string>
	<string>gushingly</string>
	<string>gutturally</string>
	<string>habitually</string>
	<string>haltingly</string>
	<string>handsomely</string>
	<string>haplessly</string>
	<string>happily</string>
	<string>hardly</string>
	<string>harmlessly</string>
	<string>harshly</string>
	<string>hastily</string>
	<string>hauntingly</string>
	<string>hazily</string>
	<string>healthily</string>
	<string>heartily</string>
	<string>heatedly</string>
	<string>heavily</string>
	<string>hectically</string>
	<string>heedlessly</string>
	<string>helplessly</string>
	<string>heroically</string>
	<string>hesitantly</string>
	<string>hideously</string>
	<string>highly</string>
	<string>hoarsely</string>
	<string>hollowly</string>
	<string>honestly</string>
	<string>honorably</string>
	<string>hopefully</string>
	<string>horribly</string>
	<string>hospitably</string>
	<string>hostilely</string>
	<string>hotly</string>
	<string>hourly</string>
	<string>however</string>
	<string>hugely</string>
	<string>humanely</string>
	<string>humbly</string>
	<string>hungrily</string>
	<string>hurriedly</string>
	<string>huskily</string>
	<string>icily</string>
	<string>ideally</string>
	<string>idly</string>
	<string>ignorantly</string>
	<string>illegally</string>
	<string>illicitly</string>
	<string>immaturely</string>
	<string>immensely</string>
	<string>immodestly</string>
	<string>impeccably</string>
	<string>impishly</string>
	<string>implicitly</string>
	<string>impossibly</string>
	<string>improperly</string>
	<string>impudently</string>
	<string>inanely</string>
	<string>inaudibly</string>
	<string>incisively</string>
	<string>incredibly</string>
	<string>incurably</string>
	<string>indecently</string>
	<string>indirectly</string>
	<string>ineptly</string>
	<string>inevitably</string>
	<string>inexorably</string>
	<string>infamously</string>
	<string>infinitely</string>
	<string>inflexibly</string>
	<string>informally</string>
	<string>inherently</string>
	<string>inhumanely</string>
	<string>initially</string>
	<string>innately</string>
	<string>innocently</string>
	<string>insanely</string>
	<string>insensibly</string>
	<string>insipidly</string>
	<string>insolently</string>
	<string>instead</string>
	<string>intensely</string>
	<string>intimately</string>
	<string>intrepidly</string>
	<string>invariably</string>
	<string>inversely</string>
	<string>invisibly</string>
	<string>inwardly</string>
	<string>irately</string>
	<string>ironically</string>
	<string>irritably</string>
	<string>jaggedly</string>
	<string>jarringly</string>
	<string>jealously</string>
	<string>jeeringly</string>
	<string>jerkily</string>
	<string>jestingly</string>
	<string>jointly</string>
	<string>jokingly</string>
	<string>jovially</string>
	<string>joyfully</string>
	<string>joylessly</string>
	<string>joyously</string>
	<string>jubilantly</string>
	<string>just</string>
	<string>keenly</string>
	<string>kindly</string>
	<string>knowingly</string>
	<string>lamely</string>
	<string>largely</string>
	<string>lastly</string>
	<string>lately</string>
	<string>laudably</string>
	<string>laughingly</string>
	<string>lavishly</string>
	<string>lawfully</string>
	<string>lawlessly</string>
	<string>laxly</string>
	<string>lazily</string>
	<string>learnedly</string>
	<string>legally</string>
	<string>legibly</string>
	<string>leisurely</string>
	<string>lengthily</string>
	<string>leniently</string>
	<string>lethally</string>
	<string>levelly</string>
	<string>liberally</string>
	<string>lifelessly</string>
	<string>lightly</string>
	<string>likely</string>
	<string>limitedly</string>
	<string>limply</string>
	<string>listlessly</string>
	<string>literally</string>
	<string>lividly</string>
	<string>locally</string>
	<string>loftily</string>
	<string>logically</string>
	<string>longingly</string>
	<string>loosely</string>
	<string>lopsidedly</string>
	<string>loudly</string>
	<string>lovingly</string>
	<string>loyally</string>
	<string>lucidly</string>
	<string>luckily</string>
	<string>luminously</string>
	<string>luridly</string>
	<string>lusciously</string>
	<string>lyrically</string>
	<string>madly</string>
	<string>magically</string>
	<string>mainly</string>
	<string>majorly</string>
	<string>manageably</string>
	<string>manfully</string>
	<string>manifestly</string>
	<string>manually</string>
	<string>marginally</string>
	<string>markedly</string>
	<string>massively</string>
	<string>materially</string>
	<string>maturely</string>
	<string>maximally</string>
	<string>maybe</string>
	<string>meagerly</string>
	<string>meanly</string>
	<string>measurably</string>
	<string>medically</string>
	<string>meekly</string>
	<string>mellowly</string>
	<string>meltingly</string>
	<string>memorably</string>
	<string>menacingly</string>
	<string>menially</string>
	<string>mentally</string>
	<string>mercifully</string>
	<string>merely</string>
	<string>merrily</string>
	<string>messily</string>
	<string>metrically</string>
	<string>mightily</string>
	<string>mildly</string>
	<string>mindlessly</string>
	<string>minimally</string>
	<string>minutely</string>
	<string>mirthfully</string>
	<string>miserably</string>
	<string>mistakenly</string>
	<string>mockingly</string>
	<string>moderately</string>
	<string>moistly</string>
	<string>monthly</string>
	<string>moodily</string>
	<string>morally</string>
	<string>morbidly</string>
	<string>morosely</string>
	<string>mostly</string>
	<string>motherly</string>
	<string>movingly</string>
	<string>mundanely</string>
	<string>murkily</string>
	<string>musically</string>
	<string>mutely</string>
	<string>mutually</string>
	<string>myopically</string>
	<string>mystically</string>
	<string>namely</string>
	<string>narrowly</string>
	<string>nasally</string>
	<string>nastily</string>
	<string>natively</string>
	<string>naturally</string>
	<string>nearly</string>
	<string>neatly</string>
	<string>nebulously</string>
	<string>needlessly</string>
	<string>negatively</string>
	<string>negligibly</string>
	<string>neighborly</string>
	<string>nervously</string>
	<string>neutrally</string>
	<string>never</string>
	<string>newly</string>
	<string>nicely</string>
	<string>nightly</string>
	<string>nimbly</string>
	<string>nobly</string>
	<string>noisily</string>
	<string>nominally</string>
	<string>normally</string>
	<string>notably</string>
	<string>noticeably</string>
	<string>noxiously</string>
	<string>numbly</string>
	<string>obediently</string>
	<string>obligingly</string>
	<string>obscurely</string>
	<string>observably</string>
	<string>obtusely</string>
	<string>obviously</string>
	<string>oddly</string>
	<string>officially</string>
	<string>often</string>
	<string>ominously</string>
	<string>onerously</string>
	<string>only</string>
	<string>openly</string>
	<string>oppositely</string>
	<string>optimally</string>
	<string>opulently</string>
	<string>orally</string>
	<string>ordinarily</string>
	<string>originally</string>
	<string>ornately</string>
	<string>ostensibly</string>
	<string>outwardly</string>
	<string>overly</string>
	<string>owlishly</string>
	<string>painfully</string>
	<string>palatably</string>
	<string>palpably</string>
	<string>pardonably</string>
	<string>parentally</string>
	<string>partly</string>
	<string>passively</string>
	<string>patently</string>
	<string>patiently</string>
	<string>peacefully</string>
	<string>peculiarly</string>
	<string>peevishly</string>
	<string>pensively</string>
	<string>perfectly</string>
	<string>perhaps</string>
	<string>perilously</string>
	<string>perkily</string>
	<string>personally</string>
	<string>pertly</string>
	<string>perversely</string>
	<string>petulantly</string>
	<string>physically</string>
	<string>piercingly</string>
	<string>piggishly</string>
	<string>piteously</string>
	<string>pitifully</string>
	<string>pityingly</string>
	<string>placidly</string>
	<string>plainly</string>
	<string>plausibly</string>
	<string>playfully</string>
	<string>pleasantly</string>
	<string>ploddingly</string>
	<string>poetically</string>
	<string>pointedly</string>
	<string>politely</string>
	<string>pompously</string>
	<string>poorly</string>
	<string>popularly</string>
	<string>positively</string>
	<string>possibly</string>
	<string>potently</string>
	<string>poutingly</string>
	<string>powerfully</string>
	<string>precisely</string>
	<string>preferably</string>
	<string>presumably</string>
	<string>prettily</string>
	<string>previously</string>
	<string>primarily</string>
	<string>privately</string>
	<string>probably</string>
	<string>profoundly</string>
	<string>promptly</string>
	<string>properly</string>
	<string>proudly</string>
	<string>provably</string>
	<string>prudently</string>
	<string>publicly</string>
	<string>punctually</string>
	<string>pungently</string>
	<string>punitively</string>
	<string>purely</string>
	<string>purposely</string>
	<string>puzzlingly</string>
	<string>quaintly</string>
	<string>quarterly</string>
	<string>quickly</string>
	<string>quietly</string>
	<string>radically</string>
	<string>raggedly</string>
	<string>ramblingly</string>
	<string>rampantly</string>
	<string>randomly</string>
	<string>rapidly</string>
	<string>raptly</string>
	<string>rarely</string>
	<string>rashly</string>
	<string>raspingly</string>
	<string>rationally</string>
	<string>ravenously</string>
	<string>readily</string>
	<string>really</string>
	<string>reasonably</string>
	<string>rebukingly</string>
	<string>recently</string>
	<string>recklessly</string>
	<string>redly</string>
	<string>regally</string>
	<string>regionally</string>
	<string>regularly</string>
	<string>relatively</string>
	<string>relevantly</string>
	<string>reliably</string>
	<string>remarkably</string>
	<string>remotely</string>
	<string>repeatedly</string>
	<string>reportedly</string>
	<string>reputedly</string>
	<string>reservedly</string>
	<string>resignedly</string>
	<string>resolutely</string>
	<string>restlessly</string>
	<string>reverently</string>
	<string>richly</string>
	<string>rightly</string>
	<string>rigidly</string>
	<string>rigorously</string>
	<string>riotously</string>
	<string>ritually</string>
	<string>robustly</string>
	<string>rottenly</string>
	<string>roughly</string>
	<string>roundly</string>
	<string>routinely</string>
	<string>royally</string>
	<string>rudely</string>
	<string>ruefully</string>
	<string>ruggedly</string>
	<string>ruinously</string>
	<string>ruthlessly</string>
	<string>sadly</string>
	<string>safely</string>
	<string>sagely</string>
	<string>sanely</string>
	<string>savagely</string>
	<string>scarcely</string>
	<string>scathingly</string>
	<string>scoffingly</string>
	<string>scornfully</string>
	<string>seamlessly</string>
	<string>seasonally</string>
	<string>secondly</string>
	<string>secretly</string>
	<string>securely</string>
	<string>sedately</string>
	<string>seemingly</string>
	<string>seldom</string>
	<string>selfishly</string>
	<string>sensibly</string>
	<string>separately</string>
	<string>serenely</string>
	<string>seriously</string>
	<string>severely</string>
	<string>shabbily</string>
	<string>shakily</string>
	<string>shallowly</string>
	<string>shamefully</string>
	<string>sharply</string>
	<string>sheepishly</string>
	<string>shockingly</string>
	<string>shoddily</string>
	<string>shortly</string>
	<string>shrewdly</string>
	<string>shrilly</string>
	<string>shyly</string>
	<string>silently</string>
	<string>similarly</string>
	<string>simply</string>
	<string>sincerely</string>
	<string>singularly</string>
	<string>sketchily</string>
	<string>skillfully</string>
	<string>skittishly</string>
	<string>slackly</string>
	<string>slantingly</string>
	<string>slavishly</string>
	<string>sleepily</string>
	<string>slickly</string>
	<string>slightly</string>
	<string>sloppily</string>
	<string>slouchily</string>
	<string>slowly</string>
	<string>sluggishly</string>
	<string>slyly</string>
	<string>smartly</string>
	<string>smashingly</string>
	<string>smilingly</string>
	<string>smoothly</string>
	<string>smugly</string>
	<string>snappishly</string>
	<string>sneakily</string>
	<string>sneeringly</string>
	<string>snidely</string>
	<string>snobbishly</string>
	<string>snugly</string>
	<string>sobbingly</string>
	<string>soberly</string>
	<string>socially</string>
	<string>softly</string>
	<string>solely</string>
	<string>solidly</string>
	<string>somberly</string>
	<string>sometimes</string>
	<string>soon</string>
	<string>soothingly</string>
	<string>sorely</string>
	<string>soulfully</string>
	<string>soundly</string>
	<string>sourly</string>
	<string>sparsely</string>
	<string>spatially</string>
	<string>speedily</string>
	<string>spiritedly</string>
	<string>spitefully</string>
	<string>splendidly</string>
	<string>spookily</string>
	<string>sportingly</string>
	<string>spotlessly</string>
	<string>spuriously</string>
	<string>squarely</string>
	<string>starkly</string>
	<string>statically</string>
	<string>staunchly</string>
	<string>steadily</string>
	<string>steeply</string>
	<string>sternly</string>
	<string>stiffly</string>
	<string>still</string>
	<string>stirringly</string>
	<string>stoically</string>
	<string>stonily</string>
	<string>stoutly</string>
	<string>strangely</string>
	<string>strictly</string>
	<string>strongly</string>
	<string>stubbornly</string>
	<string>studiously</string>
	<string>stunningly</string>
	<string>stupidly</string>
	<string>sturdily</string>
	<string>stylishly</string>
	<string>suavely</string>
	<string>sublimely</string>
	<string>subtly</string>
	<string>succinctly</string>
	<string>suddenly</string>
	<string>suitably</string>
	<string>sulkily</string>
	<string>sullenly</string>
	<string>summarily</string>
	<string>superbly</string>
	<string>supposedly</string>
	<string>supremely</string>
	<string>surely</string>
	<string>surgically</string>
	<string>surreally</string>
	<string>sweetly</string>
	<string>swiftly</string>
	<string>swimmingly</string>
	<string>tacitly</string>
	<string>tactfully</string>
	<string>tamely</string>
	<string>tangibly</string>
	<string>tartly</string>
	<string>tastefully</string>
	<string>tauntingly</string>
	<string>tautly</string>
	<string>tearfully</string>
	<string>teasingly</string>
	<string>tediously</string>
	<string>tellingly</string>
	<string>temporally</string>
	<string>tenderly</string>
	<string>tensely</string>
	<string>tenuously</string>
	<string>tepidly</string>
	<string>terminally</string>
	<string>terribly</string>
	<string>tersely</string>
	<string>testily</string>
	<string>thankfully</string>
	<string>thermally</string>
	<string>thickly</string>
	<string>thievishly</string>
	<string>thinly</string>
	<string>thirdly</string>
	<string>thoroughly</string>
	<string>tidily</string>
	<string>tightly</string>
	<string>timelessly</string>
	<string>timidly</string>
	<string>tirelessly</string>
	<string>tolerably</string>
	<string>tonelessly</string>
	<string>tortuously</string>
	<string>totally</string>
	<string>touchingly</string>
	<string>toughly</string>
	<string>tragically</string>
	<string>tranquilly</string>
	<string>triply</string>
	<string>trivially</string>
	<string>tropically</string>
	<string>truly</string>
	<string>trustingly</string>
	<string>truthfully</string>
	<string>tunelessly</string>
	<string>twice</string>
	<string>twirlingly</string>
	<string>typically</string>
	<string>ultimately</string>
	<string>unarguably</string>
	<string>unbearably</string>
	<string>uncannily</string>
	<string>unclearly</string>
	<string>uncommonly</string>
	<string>undeniably</string>
	<string>unduly</string>
	<string>uneasily</string>
	<string>unendingly</string>
	<string>unequally</string>
	<string>unerringly</string>
	<string>unevenly</string>
	<string>unfairly</string>
	<string>unhappily</string>
	<string>uniformly</string>
	<string>uniquely</string>
	<string>unjustly</string>
	<string>unkindly</string>
	<string>unlawfully</string>
	<string>unluckily</string>
	<string>unquietly</string>
	<string>unreliably</string>
	<string>unshakably</string>
	<string>unsteadily</string>
	<string>unsuitably</string>
	<string>unusually</string>
	<string>unwarily</string>
	<string>unwisely</string>
	<string>unworthily</string>
	<string>uprightly</string>
	<string>upwardly</string>
	<string>urgently</string>
	<string>usefully</string>
	<string>uselessly</string>
	<string>usually</string>
	<string>utterly</string>
	<string>vacantly</string>
	<string>vaguely</string>
	<string>vainly</string>
	<string>valiantly</string>
	<string>vapidly</string>
	<string>variously</string>
	<string>vastly</string>
	<string>vengefully</string>
	<string>venomously</string>
	<string>verbally</string>
	<string>verifiably</string>
	<string>vertically</string>
	<string>vibrantly</string>
	<string>viciously</string>
	<string>vigilantly</string>
	<string>vigorously</string>
	<string>violently</string>
	<string>virtually</string>
	<string>viscerally</string>
	<string>visibly</string>
	<string>visually</string>
	<string>vitally</string>
	<string>vividly</string>
	<string>vocally</string>
	<string>vulnerably</string>
	<string>wantonly</string>
	<string>warmly</string>
	<string>wastefully</string>
	<string>watchfully</string>
	<string>weakly</string>
	<string>weekly</string>
	<string>weirdly</string>
	<string>wetly</string>
	<string>widely</string>
	<string>wildly</string>
	<string>wilfully</string>
	<string>willingly</string>
	<string>winningly</string>
	<string>wisely</string>
	<string>wishfully</string>
	<string>wistfully</string>
	<string>wittily</string>
	<string>wolfishly</string>
	<string>wondrously</string>
	<string>woodenly</string>
	<string>woozily</string>
	<string>wordlessly</string>
	<string>worriedly</string>
	<string>wrathfully</string>
	<string>wretchedly</string>
	<string>wrongly</string>
	<string>yearly</string>
	<string>yieldingly</string>
	<string>youthfully</string>
	<string>zealously</string>
	<string>zestfully</string>
</array>
</plist>
